img{
    border-radius: 50%;
}
body{
    border: 5px;
    border-color: brown;
    border-style: double;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: black;
}
a{
    padding: 20px 30px 40px;
}
.sp:hover{
       background-color: aqua;
}

